
@charset "utf-8";

/*
	Bookworm's Geek Hideout
	First Website

	Layout Styles for Bookworm's Geek Hideout
	Author: Tiffany Rose Alimusa
	Date: 02-16-2019

	filename: bgh_layout.css
*/

/* Window and Body Styles */

html {
	height: 100%;
}

body {
	min-width: 640px;
	max-width: 90%;
	width: 90%;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
}

header, ul, li, nav a, footer {
	box-sizing: border-box;
	text-decoration: none;
}

/* Row Styles */

.row::after {
	display: grid;
	clear: both;
	content: '';
}

/* Page Header Styles */

header nav {
	width: 30%;
	padding-left: 2%;
	padding-right: 2%;
	float: left;
}

header a {
	display:block;
	width: 100%;
}

/* Horizontal Navigation List */

.horizontal ul li {
	display: inline-block;
	width: 15%;
}

/* HR Styles */

hr {
	width: 90%;
}

/* Quotes From Books Style */

ul#quotes {
	width: 75%;
	margin: 40px auto;
}

ul#quotes li {
	width: 50%;
	float: left;
	dislay: block;
	margin-bottom: 20px;
}

ul#quotes li img {
	display: block;
	width: 90%;
	float: left;
	margin: 0 5%;

ul#quotes li p {
	width: 70%;
	float: left;
}



/* Footer Styles */

footer {
	clear: both;
	content: " ";
}